/* line 1, stylesheet.scss */
* {
  box-sizing: border-box; }

/* line 5, stylesheet.scss */
body, html {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  font-size: 22px;
  font-family: Roboto, "Roboto", "Open Sans", "Noto Sans", "Helvetica", "Segoe UI Light", "Segoe UI", "Arial", sans-serif;
  font-weight: 300; }

/* line 15, stylesheet.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", Roboto, "Roboto", "Open Sans", "Noto Sans", "Helvetica", "Segoe UI Light", "Segoe UI", "Arial", sans-serif;
  font-weight: 500; }

/* line 19, stylesheet.scss */
h1 {
  font-size: 3.5em; }

/* line 23, stylesheet.scss */
a {
  color: #3b8dbf;
  transition: color 0.1s; }
  /* line 27, stylesheet.scss */
  a:focus, a:hover, a:active {
    color: #085584; }

/* line 32, stylesheet.scss */
main {
  min-height: 100vh; }
  /* line 35, stylesheet.scss */
  main .landing {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url("media/earth_bg.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff; }
    /* line 46, stylesheet.scss */
    main .landing .center {
      position: absolute;
      width: 90%;
      top: 47%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      text-align: center;
      overflow: auto; }
      /* line 55, stylesheet.scss */
      main .landing .center p {
        margin-top: 8px;
        font-size: 1.7em;
        font-weight: 100; }
      /* line 61, stylesheet.scss */
      main .landing .center h1 {
        margin: 32px 0; }
        @media screen and (max-width: 750px) {
          /* line 65, stylesheet.scss */
          main .landing .center h1 {
            font-size: 2.5em; } }
  /* line 73, stylesheet.scss */
  main .wrapper {
    overflow: auto; }
  /* line 76, stylesheet.scss */
  main .content {
    display: block;
    width: auto;
    max-width: 1152px;
    position: relative;
    margin: 16px;
    margin-bottom: 64px; }
    @media screen and (min-width: 1120px) {
      /* line 76, stylesheet.scss */
      main .content {
        margin: 16px auto 64px auto; } }
    /* line 88, stylesheet.scss */
    main .content .col3 {
      display: inline-block;
      padding: 8px;
      vertical-align: top;
      width: 33%;
      height: auto;
      overflow: auto; }
      @media screen and (max-width: 950px) {
        /* line 97, stylesheet.scss */
        main .content .col3 {
          display: block;
          width: 100%;
          margin: auto;
          max-width: 500px;
          margin-bottom: 24px;
          overflow: hidden; } }
      /* line 107, stylesheet.scss */
      main .content .col3 p {
        text-align: center;
        color: #555; }
        /* line 111, stylesheet.scss */
        main .content .col3 p a {
          text-decoration: underline;
          color: #555; }
    /* line 118, stylesheet.scss */
    main .content .col2 {
      display: inline-block;
      padding: 16px;
      vertical-align: top;
      width: 50%;
      height: auto;
      overflow: auto; }
      @media screen and (max-width: 750px) {
        /* line 127, stylesheet.scss */
        main .content .col2 {
          display: block;
          width: 100%; } }
    /* line 134, stylesheet.scss */
    main .content .downloaddiv {
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      position: relative;
      margin: 1%;
      display: inline-block;
      background-color: #ccc;
      overflow: hidden; }
      /* line 144, stylesheet.scss */
      main .content .downloaddiv .inner {
        width: 100%;
        height: 100%;
        position: absolute;
        padding: 8px;
        text-align: center;
        overflow: hidden; }
        /* line 152, stylesheet.scss */
        main .content .downloaddiv .inner h3 {
          font-size: 1.4em;
          position: relative;
          top: 20px;
          transition: top 0.2s;
          color: #000; }
        /* line 159, stylesheet.scss */
        main .content .downloaddiv .inner p {
          font-size: 0.9em;
          position: relative;
          opacity: 0;
          top: 30px;
          margin-bottom: 0px;
          margin-top: 4px;
          transition: top 0.2s, opacity 0.2s;
          color: #000; }
        /* line 170, stylesheet.scss */
        main .content .downloaddiv .inner img {
          width: 50%;
          height: 50%;
          filter: brightness(0.5);
          top: 40px;
          position: relative;
          transition: top 0.2s; }
        /* line 178, stylesheet.scss */
        main .content .downloaddiv .inner small {
          opacity: 0.8; }
        /* line 183, stylesheet.scss */
        main .content .downloaddiv .inner:not(.disabled):hover img {
          filter: brightness(1.2);
          top: 10px; }
        /* line 187, stylesheet.scss */
        main .content .downloaddiv .inner:not(.disabled):hover h3 {
          top: -10px;
          color: #fff; }
        /* line 191, stylesheet.scss */
        main .content .downloaddiv .inner:not(.disabled):hover p {
          top: -30px;
          opacity: 1;
          color: #fff; }
        /* line 197, stylesheet.scss */
        main .content .downloaddiv .inner.disabled {
          opacity: 0.5;
          color: #eee;
          cursor: not-allowed; }
    /* line 205, stylesheet.scss */
    main .content .col3:nth-of-type(1) a .downloaddiv:hover {
      background-color: #BA8326; }
    /* line 209, stylesheet.scss */
    main .content .col3:nth-of-type(2) a .downloaddiv:hover {
      background-color: #265581; }
    /* line 213, stylesheet.scss */
    main .content .col3:nth-of-type(3) a .downloaddiv:hover {
      background-color: #1281AB; }
  /* line 218, stylesheet.scss */
  main .cta_arrow {
    position: absolute;
    bottom: 12px;
    left: calc(50% - 32px);
    width: 64px;
    height: 64px;
    filter: drop-shadow(0px 2px 8px black);
    background-image: url("media/down_arrow.svg");
    background-position: center center;
    background-size: 180% 180%;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    outline: 0;
    cursor: pointer;
    animation: hop 2s ease 0s infinite;
    transition: transform 0.1s; }
    /* line 236, stylesheet.scss */
    main .cta_arrow:hover {
      transform: scale(1.3); }
    /* line 240, stylesheet.scss */
    main .cta_arrow.inverted {
      filter: brightness(0.15) drop-shadow(0px 1px 6px black); }
@keyframes hop {
  0% {
    bottom: 12px; }
  19% {
    bottom: 12px; }
  35% {
    bottom: 22px; }
  50% {
    bottom: 12px; } }
/* line 252, stylesheet.scss */
.link {
  background-color: #ccc;
  padding: 8px 8px;
  background-size: 36px 38px;
  background-position: 4px 4px;
  background-repeat: no-repeat;
  font-size: 1.2em;
  display: inline-block;
  padding-left: 42px;
  padding-right: 12px;
  margin-bottom: 16px;
  border-radius: 30px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.2s, color 0.2s; }
  /* line 268, stylesheet.scss */
  .link:hover {
    background-color: #bbb; }
  /* line 272, stylesheet.scss */
  .link.git {
    background-image: url("media/code.svg"); }
  /* line 276, stylesheet.scss */
  .link.steem {
    background-image: url("media/steem.svg"); }

/* line 280, stylesheet.scss */
.hoverpic {
  width: 128px;
  height: 128px;
  overflow: hidden;
  border-radius: 50%;
  display: inline-block;
  position: relative; }
  /* line 288, stylesheet.scss */
  .hoverpic p {
    color: #fff;
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.2s;
    margin: 0;
    font-size: 1.3em; }
  /* line 300, stylesheet.scss */
  .hoverpic:hover p {
    opacity: 1;
    text-shadow: 0px 0px 7px #000; }
  /* line 305, stylesheet.scss */
  .hoverpic + div > p {
    margin: 8px 0px 12px 8px; }

/*# sourceMappingURL=stylesheet.css.map */
