* {
	box-sizing: border-box;
}

body, html {
	width: 100%;
	height: 100%;
	position: relative;
	margin: 0;
	font-size: 22px;
	font-family: Roboto, "Roboto", "Open Sans", "Noto Sans", "Helvetica", "Segoe UI Light", "Segoe UI", "Arial", sans-serif;
	font-weight: 300;
}

strong {
	font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Raleway", Roboto, "Roboto", "Open Sans", "Noto Sans", "Helvetica", "Segoe UI Light", "Segoe UI", "Arial", sans-serif;
	font-weight: 500;
}
h1 {
	font-size: 3.5em;
}

a {
	color: #3b8dbf;
	transition: color 0.1s;

	&:focus, &:hover, &:active {
		color: #085584;
	}
}

main {
	min-height: 100vh;

	.landing {
		width: 100%;
		height: 100vh;
		position: relative;
		background-image: url('media/earth_bg.jpg');
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		color: #fff;

		&.experimental {
			height: 55vh;
			background-image: url('media/hadron_bg.jpg');
		}

		.center {
			position: absolute;
			width: 90%;
			top: 47%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			text-align: center;
			overflow: auto;

			p {
				margin-top: 8px; 
				font-size: 1.7em; 
				font-weight: 100;
			}

			h1 {
				margin: 32px 0;
				text-shadow: 0px 0px 20px #0009;

				@media screen and (max-width: 750px) {
					& {
						font-size: 2.5em;
					}
				}
			}
		}


		@media screen and (max-width: 750px) {
			&.experimental h1 {
				font-size: 1.8em;
			}
		}
	}

	.wrapper {
		overflow: auto;
	}
	.content {
		display: block;
		width: auto;
		max-width: 1152px;
		position: relative;
		margin: 16px;
		margin-bottom: 64px;

		@media screen and (min-width: 1152px - 32px) {
			margin: 16px auto 64px auto;
		}

		.col3 {
			display: inline-block;
			padding: 8px;
			vertical-align: top;
			width: 33%;
			height: auto;
			overflow: hidden;

			@media screen and (max-width: 950px) {
				& {
					display: block;
					width: 100%;
					margin: auto;
					max-width: 500px;
					margin-bottom: 24px;
					overflow: hidden;
				}
			}

			p {
				text-align: center;
				color: #555;

				a {				
					text-decoration: underline;
					color: #555;
				}
			}
		}

		.col2 {
			display: inline-block;
			padding: 16px;
			vertical-align: top;
			width: 50%;
			height: auto;
			overflow: auto;

			@media screen and (max-width: 750px) {
				& {
					display: block;
					width: 100%;
				}
			}
		}

		.downloaddiv {
			width: 100%;
			height: 0;
			padding-bottom: 100%;
			position: relative;
			margin: 1%;
			display: inline-block;
			background-color: #ccc;
			overflow: hidden;

			.inner {
				width: 100%;
				height: 100%;
				position: absolute;
				padding: 8px;
				text-align: center;
				overflow: hidden;

				h3 { 
					font-size: 1.4em; 
					position: relative;
					top: 20px;
					transition: top 0.2s;
					color: #000;
					user-select: none;
				}
				p { 
					font-size: 0.9em;
					position: relative; 
					opacity: 0;
					top: 30px;
					margin-bottom: 0px;
					margin-top: 4px;
					transition: top 0.2s, opacity 0.2s;
					color: #000;
				}

				img {
					width: 40%;
					height: 40%;
					filter: brightness(0.5);
					top: 40px;
					position: relative;
					transition: top 0.2s;
				}
				small {
					opacity: 0.8;
				}

				&:not(.disabled):hover {
					img {
						filter: brightness(1);
						top: 10px;
					}
					h3 {
						top: -10px;
						color: #fff;
					}
					p {
						top: -30px;
						opacity: 1;
						color: #fff;
					}
				}
				&.disabled {
					opacity: 0.5;
					color: #eee;
					cursor: not-allowed;
				}
			}
		}

		.col3:nth-of-type(1) a .downloaddiv:hover {
			background-color: #BA8326;
		}

		.col3:nth-of-type(2) a .downloaddiv:hover {
			background-color: #265581;
		}

		.col3:nth-of-type(3) a .downloaddiv:hover {
			background-color: #1281AB;
		}
	}

	.popupwrapper {
		width: auto;
		max-width: 700px;
		margin: 16px auto;
		display: block;
	}

	@media screen and (max-width: 690px) {
		.popupwrapper > label {
			width: 300px !important;
			max-width: 100% !important;
			margin: 16px auto !important;
			display: block !important;
		}
	}

	.popupwrapper > label {
		width: 50%;
		max-width: 250px;
		margin: 30px 45px;
		display: inline-block;
		cursor: pointer;
	}

  .popupbutton {
  	width: 100%;
  	padding-bottom: 100%;
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0px 2px 12px 0px #0005;
    background-position: center center;
    background-size: 60%;
    background-repeat: no-repeat;
  	color: #fff;
  	transition: background-color 0.2s, filter 0.2s;

		&:not(:hover) {
			background-color: #EEE !important;
		}

    &:hover {
    	filter: brightness(120%);
    }
    &:active {
    	filter: brightness(140%);
    }

    &>p {
    	margin: 0;
    	$font-size: 20px;
    	text-align: center;
    	padding: 16px;
    	padding-top: 160px/2 - $font-size;
    	user-select: none;
    }
  }
  .popup {
  	position: fixed;
  	display: block;
  	top: 0px;
  	left: 0px;
  	background-color: #eee;
  	width: 100%;
  	height: 100%;
  	transform: scale(0);
  	transition: transform 0.4s, border-radius 0.3s 0s, opacity 0.2s 0.1s;
  	border-radius: 50%;
  	opacity: 0;
  	will-change: transform;
  	z-index: 1;
  	box-shadow: 0px 4px 32px 0px #0007;
  	overflow: hidden;

  	.close {
  		position: absolute;
  		top: 0px;
  		right: 0px;

  		img {
	 			width: 64px;
	 			height: 64px;
	 			cursor: pointer;
	 			padding: 16px;

	 			&:hover, &:active {
	 				filter: invert(30%);
	 			}
	 			&:active {
	 				filter: invert(50%);
	 			}
  		}
  	}

  	.wrapper {
  		width: 100%;
  		height: auto;
  		overflow: auto;
  		
  		.header {
  			width: 100%;
  			height: 64px;
  			background-color: #eee;
  			display: block;
  			overflow: hidden;

  			.bgi {
  				height: 64px;
  				width: 200px;
  				display: inline-block;
  				background-color: #9fa2ba;
  				background-position: center center;
  				background-size: 50%;
  				background-repeat: no-repeat;
  				margin-right: 16px;
  			}
  			p {
  				display: inline-block;
  				vertical-align: top;
  			}
  		}
  		.content {
  			padding: 32px 16px;
  			overflow: auto;
	  		max-width: 1152px;
	  		margin: 0 auto;
  		}
  	}
  }
  input[type='checkbox'] {
  	display: none;
  }
  input:checked + .popup {
  	transform: scale(1);
  	border-radius: 0;
  	opacity: 1;
  	transition: transform 0.4s, border-radius 0.3s 0.1s, opacity 0.1s 0s;
  	background-color: #fff;
  }

	.cta_arrow {
		position: absolute;
		bottom: 12px;
		left: calc(50% - 32px);
		width: 64px;
		height: 64px;
		filter: drop-shadow(0px 2px 8px black);
		background-image: url("media/down_arrow.svg");
		background-position: center center;
		background-size: 180% 180%;
		background-repeat: no-repeat;
		border: none;
		background-color: transparent;
		outline: 0;
		cursor: pointer;
		animation: hop 2s ease 0s infinite;
		transition: transform 0.1s;

		&:hover {
			transform: scale(1.3);
		}

		&.inverted {
			filter: brightness(0.15) drop-shadow(0px 1px 6px black);
		}

		@keyframes hop {
			0% { bottom: 12px; }
			19% { bottom: 12px; }
			35% { bottom: 22px; }
			50% { bottom: 12px; }
		}
	}
}
.link {
	background-color: #ccc;
	padding: 8px 8px;
	background-size: 36px 38px;
	background-position: 4px 4px;
	background-repeat: no-repeat;
	font-size: 1.2em;
	display: inline-block;
	padding-left: 42px;
	padding-right: 12px;
	margin-bottom: 16px;
	border-radius: 30px;
	text-decoration: none;
	color: #333;
	transition: background-color 0.2s, color 0.2s;

	&:hover {
		background-color: #bbb;
	}

	&.git {
		background-image: url("media/code.svg");
	}

	&.steem {
		background-image: url("media/steem.svg");
	}

	&.download {
		background-image: url("media/dl_icon.svg");
	}

	&.docs {
		background-image: url("media/docs_icon.svg");
	}
}
.hoverpic {
	width: 128px;
	height: 128px;
	overflow: hidden;
	border-radius: 50%;
	display: inline-block;
	position: relative;

	p {
		color: #fff;
		opacity: 0;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		transition: opacity 0.2s;
		margin: 0;
		font-size: 1.3em;
	}

	&:hover p {
		opacity: 1;
		text-shadow: 0px 0px 7px #000;
	}

	&+div>p {
		margin: 8px 0px 12px 8px;
	}
}