/* line 1, stylesheet.scss */
* {
  box-sizing: border-box; }

/* line 5, stylesheet.scss */
body, html {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  font-size: 22px;
  font-family: Roboto, "Roboto", "Open Sans", "Noto Sans", "Helvetica", "Segoe UI Light", "Segoe UI", "Arial", sans-serif;
  font-weight: 300; }

/* line 15, stylesheet.scss */
strong {
  font-weight: 500; }

/* line 19, stylesheet.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", Roboto, "Roboto", "Open Sans", "Noto Sans", "Helvetica", "Segoe UI Light", "Segoe UI", "Arial", sans-serif;
  font-weight: 500; }

/* line 23, stylesheet.scss */
h1 {
  font-size: 3.5em; }

/* line 27, stylesheet.scss */
a {
  color: #3b8dbf;
  transition: color 0.1s; }
  /* line 31, stylesheet.scss */
  a:focus, a:hover, a:active {
    color: #085584; }

/* line 36, stylesheet.scss */
main {
  min-height: 100vh; }
  /* line 39, stylesheet.scss */
  main .landing {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url("media/earth_bg.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff; }
    /* line 50, stylesheet.scss */
    main .landing.experimental {
      height: 50vh; }
    /* line 54, stylesheet.scss */
    main .landing .center {
      position: absolute;
      width: 90%;
      top: 47%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      text-align: center;
      overflow: auto; }
      /* line 63, stylesheet.scss */
      main .landing .center p {
        margin-top: 8px;
        font-size: 1.7em;
        font-weight: 100; }
      /* line 69, stylesheet.scss */
      main .landing .center h1 {
        margin: 32px 0; }
        @media screen and (max-width: 750px) {
          /* line 73, stylesheet.scss */
          main .landing .center h1 {
            font-size: 2.5em; } }
  /* line 81, stylesheet.scss */
  main .wrapper {
    overflow: auto; }
  /* line 84, stylesheet.scss */
  main .content {
    display: block;
    width: auto;
    max-width: 1152px;
    position: relative;
    margin: 16px;
    margin-bottom: 64px; }
    @media screen and (min-width: 1120px) {
      /* line 84, stylesheet.scss */
      main .content {
        margin: 16px auto 64px auto; } }
    /* line 96, stylesheet.scss */
    main .content .col3 {
      display: inline-block;
      padding: 8px;
      vertical-align: top;
      width: 33%;
      height: auto;
      overflow: hidden; }
      @media screen and (max-width: 950px) {
        /* line 105, stylesheet.scss */
        main .content .col3 {
          display: block;
          width: 100%;
          margin: auto;
          max-width: 500px;
          margin-bottom: 24px;
          overflow: hidden; } }
      /* line 115, stylesheet.scss */
      main .content .col3 p {
        text-align: center;
        color: #555; }
        /* line 119, stylesheet.scss */
        main .content .col3 p a {
          text-decoration: underline;
          color: #555; }
    /* line 126, stylesheet.scss */
    main .content .col2 {
      display: inline-block;
      padding: 16px;
      vertical-align: top;
      width: 50%;
      height: auto;
      overflow: auto; }
      @media screen and (max-width: 750px) {
        /* line 135, stylesheet.scss */
        main .content .col2 {
          display: block;
          width: 100%; } }
    /* line 142, stylesheet.scss */
    main .content .downloaddiv {
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      position: relative;
      margin: 1%;
      display: inline-block;
      background-color: #ccc;
      overflow: hidden; }
      /* line 152, stylesheet.scss */
      main .content .downloaddiv .inner {
        width: 100%;
        height: 100%;
        position: absolute;
        padding: 8px;
        text-align: center;
        overflow: hidden; }
        /* line 160, stylesheet.scss */
        main .content .downloaddiv .inner h3 {
          font-size: 1.4em;
          position: relative;
          top: 20px;
          transition: top 0.2s;
          color: #000;
          user-select: none; }
        /* line 168, stylesheet.scss */
        main .content .downloaddiv .inner p {
          font-size: 0.9em;
          position: relative;
          opacity: 0;
          top: 30px;
          margin-bottom: 0px;
          margin-top: 4px;
          transition: top 0.2s, opacity 0.2s;
          color: #000; }
        /* line 179, stylesheet.scss */
        main .content .downloaddiv .inner img {
          width: 40%;
          height: 40%;
          filter: brightness(0.5);
          top: 40px;
          position: relative;
          transition: top 0.2s; }
        /* line 187, stylesheet.scss */
        main .content .downloaddiv .inner small {
          opacity: 0.8; }
        /* line 192, stylesheet.scss */
        main .content .downloaddiv .inner:not(.disabled):hover img {
          filter: brightness(1);
          top: 10px; }
        /* line 196, stylesheet.scss */
        main .content .downloaddiv .inner:not(.disabled):hover h3 {
          top: -10px;
          color: #fff; }
        /* line 200, stylesheet.scss */
        main .content .downloaddiv .inner:not(.disabled):hover p {
          top: -30px;
          opacity: 1;
          color: #fff; }
        /* line 206, stylesheet.scss */
        main .content .downloaddiv .inner.disabled {
          opacity: 0.5;
          color: #eee;
          cursor: not-allowed; }
    /* line 214, stylesheet.scss */
    main .content .col3:nth-of-type(1) a .downloaddiv:hover {
      background-color: #BA8326; }
    /* line 218, stylesheet.scss */
    main .content .col3:nth-of-type(2) a .downloaddiv:hover {
      background-color: #265581; }
    /* line 222, stylesheet.scss */
    main .content .col3:nth-of-type(3) a .downloaddiv:hover {
      background-color: #1281AB; }
  /* line 227, stylesheet.scss */
  main .popupwrapper {
    width: auto;
    max-width: 700px;
    margin: 16px auto;
    display: block; }
  /* line 234, stylesheet.scss */
  main .popupwrapper > label {
    width: 50%;
    max-width: 250px;
    margin: 30px 45px;
    display: inline-block;
    cursor: pointer; }
  /* line 242, stylesheet.scss */
  main .popupbutton {
    width: 100%;
    padding-bottom: 100%;
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0px 2px 12px 0px #0005;
    background-position: center center;
    background-size: 60%;
    background-repeat: no-repeat;
    color: #fff;
    transition: background-color 0.2s, filter 0.2s; }
    /* line 254, stylesheet.scss */
    main .popupbutton:not(:hover) {
      background-color: #EEE !important; }
    /* line 258, stylesheet.scss */
    main .popupbutton:hover {
      filter: brightness(120%); }
    /* line 261, stylesheet.scss */
    main .popupbutton:active {
      filter: brightness(140%); }
    /* line 265, stylesheet.scss */
    main .popupbutton > p {
      margin: 0;
      text-align: center;
      padding: 16px;
      padding-top: 60px;
      user-select: none; }
  /* line 274, stylesheet.scss */
  main .popup {
    position: fixed;
    display: block;
    top: 0px;
    left: 0px;
    background-color: #eee;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: transform 0.4s, border-radius 0.3s 0s, opacity 0.2s 0.1s;
    border-radius: 50%;
    opacity: 0;
    will-change: transform;
    z-index: 1;
    box-shadow: 0px 4px 32px 0px #0007;
    overflow: hidden; }
    /* line 291, stylesheet.scss */
    main .popup .close {
      position: absolute;
      top: 0px;
      right: 0px; }
      /* line 296, stylesheet.scss */
      main .popup .close img {
        width: 64px;
        height: 64px;
        cursor: pointer;
        padding: 16px; }
        /* line 302, stylesheet.scss */
        main .popup .close img:hover, main .popup .close img:active {
          filter: invert(30%); }
        /* line 305, stylesheet.scss */
        main .popup .close img:active {
          filter: invert(50%); }
    /* line 311, stylesheet.scss */
    main .popup .wrapper {
      width: 100%;
      height: auto;
      overflow: scroll; }
      /* line 316, stylesheet.scss */
      main .popup .wrapper .header {
        width: 100%;
        height: 64px;
        background-color: #eee;
        display: block;
        overflow: auto; }
        /* line 323, stylesheet.scss */
        main .popup .wrapper .header .bgi {
          height: 64px;
          width: 200px;
          display: inline-block;
          background-color: #9fa2ba;
          background-position: center center;
          background-size: 50%;
          background-repeat: no-repeat;
          margin-right: 16px; }
        /* line 333, stylesheet.scss */
        main .popup .wrapper .header p {
          display: inline-block;
          vertical-align: top; }
      /* line 338, stylesheet.scss */
      main .popup .wrapper .content {
        padding: 32px 16px;
        overflow: auto;
        max-width: 1152px;
        margin: 0 auto; }
  /* line 346, stylesheet.scss */
  main input[type='checkbox'] {
    display: none; }
  /* line 349, stylesheet.scss */
  main input:checked + .popup {
    transform: scale(1);
    border-radius: 0;
    opacity: 1;
    transition: transform 0.4s, border-radius 0.3s 0.1s, opacity 0.1s 0s;
    background-color: #fff; }
  /* line 357, stylesheet.scss */
  main .cta_arrow {
    position: absolute;
    bottom: 12px;
    left: calc(50% - 32px);
    width: 64px;
    height: 64px;
    filter: drop-shadow(0px 2px 8px black);
    background-image: url("media/down_arrow.svg");
    background-position: center center;
    background-size: 180% 180%;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    outline: 0;
    cursor: pointer;
    animation: hop 2s ease 0s infinite;
    transition: transform 0.1s; }
    /* line 375, stylesheet.scss */
    main .cta_arrow:hover {
      transform: scale(1.3); }
    /* line 379, stylesheet.scss */
    main .cta_arrow.inverted {
      filter: brightness(0.15) drop-shadow(0px 1px 6px black); }
@keyframes hop {
  0% {
    bottom: 12px; }
  19% {
    bottom: 12px; }
  35% {
    bottom: 22px; }
  50% {
    bottom: 12px; } }
/* line 391, stylesheet.scss */
.link {
  background-color: #ccc;
  padding: 8px 8px;
  background-size: 36px 38px;
  background-position: 4px 4px;
  background-repeat: no-repeat;
  font-size: 1.2em;
  display: inline-block;
  padding-left: 42px;
  padding-right: 12px;
  margin-bottom: 16px;
  border-radius: 30px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.2s, color 0.2s; }
  /* line 407, stylesheet.scss */
  .link:hover {
    background-color: #bbb; }
  /* line 411, stylesheet.scss */
  .link.git {
    background-image: url("media/code.svg"); }
  /* line 415, stylesheet.scss */
  .link.steem {
    background-image: url("media/steem.svg"); }
  /* line 419, stylesheet.scss */
  .link.download {
    background-image: url("media/dl_icon.svg"); }
  /* line 423, stylesheet.scss */
  .link.docs {
    background-image: url("media/docs_icon.svg"); }

/* line 427, stylesheet.scss */
.hoverpic {
  width: 128px;
  height: 128px;
  overflow: hidden;
  border-radius: 50%;
  display: inline-block;
  position: relative; }
  /* line 435, stylesheet.scss */
  .hoverpic p {
    color: #fff;
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.2s;
    margin: 0;
    font-size: 1.3em; }
  /* line 447, stylesheet.scss */
  .hoverpic:hover p {
    opacity: 1;
    text-shadow: 0px 0px 7px #000; }
  /* line 452, stylesheet.scss */
  .hoverpic + div > p {
    margin: 8px 0px 12px 8px; }

/*# sourceMappingURL=stylesheet.css.map */
